
<main class="col-md-9 col px-5 pl-md-2 pt-2 main mx-auto">
    <a href="#" data-target="#sidebar" data-toggle="collapse" aria-expanded="false">
      <i id="navi"class="fa fa-navicon"></i>  
     </a>       
  
        <hr>                   
        <div class="form-group col-md-9">
            <label for="inputState">Select Range</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Last 7 Days</option>
              <option>Last 30 Days</option>
              <option>Last 90 Days</option>
              <option>Select Custom Date</option>
            </select>
  
          </div>
          <div class="form-group col-md-9">
              <button role="button"  class="btn btn-primary" data-toggle="collapse" data-target="#demo" aria-expanded="true">
                  Submit
               </button> 
               <button role="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2" aria-expanded="true">
                  Clear
               </button>
          </div>

    
    <h6 style="display:inline">*A responsive, multi-level vertical accordion.</h6>
  
          
</main>