<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="cmpHeader">
          <img id ="headerImg" src ="assets/images/sp.jpg">
            <h3><i class ="fa fa-home"> </i>Soft-Peace</h3>
     
       
            <ul class="navlist">
               <li><a href="">Home</a></li> 
               <li><a href="">Product</a></li> 
               <li><a href="">Company</a></li> 
               <li><a href="">More</a></li>  
            </ul>
     
    </div>


  
      
    </div>
  </div>
</div> -->


<nav class="navbar navbar-default cmpHeader">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id ="headerImg" src ="assets/images/sp.jpg">
            <h3><i class ="fa fa-home"> </i>Soft-Peace</h3> 
        </div>
        <!-- <ul class="nav navbar-nav">
            <li class="active nav-item"><a href="">Home</a></li>
            <li class ="nav-item"><a href="">Product</a></li> 
            <li class ="nav-item"><a href="">Company</a></li> 
            <li class ="nav-item"><a href="">More</a></li>  
          </ul>
           -->
      <i class="fa fa-search"></i><input type="text" placeholder="search">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="headline">
                <h1>INDIA TEAM...</h1>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="subHead">
              Sub Heading 1 

              <img src="assets/images/sachin.jpg" class="innerImage">
              <p class="playerName">Sachin Tendulkar </p>
              <button class="btn btn-primary btn-group-class">
                  Click Me 3
              </button>      
          </div>
      </div>
      <div class="col-md-4">
          <div class="subHead">
                    Sub Heading 2 
                    <img src="assets/images/sehwag.jpg" class="innerImage">
                    <p class="playerName">Sehwag V</p>
                    <button class="btn btn-warning btn-group-class">
                        Click Me 3
                      </button> 
            
          </div>
      </div>
      <div class="col-md-4">
          <div class="subHead">
                    Sub Heading 3
                    <img src="assets/images/irfan.jpg" class="innerImage">
                    <p  class="playerName">Irfan Pathan</p>
                    <button class="btn btn-success btn-group-class">
                        Click Me 3
                </button>
          </div>
      </div>
      
    </div>
    
    

</nav> 

<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="footer">
            <footer> For internal use Only &copy; 2018</footer>
        </div>
        </div>
</div>

        

