
<!-- <img id="backgroundimg" src="assets/images/lomiback.jpg" class="img-responsive"> -->
<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="lomiHeader">
                <h1>Lomi_...<sub><small> design for you.</small></sub></h1>
          </div>
          <div class="searchBox">
            <input type="search" placeholder ="Search"class="form-control">
           
            <p id="phoneheader">Design Stu Ph: 989096...</p>
        </div>
         <button class="btn btn-default go">Go</button>
      </div>
      <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="navigationBar">
                   <a href="" class="text-piped"><span>HOME</span></a>
                   <a href="" class="text-piped"><span>SHOP</span></a>
                   <a href="" class="text-piped"><span>DESIGN</span></a>
                   <a href="" class="text-piped"><span>RESOURCES</span></a>
                   <a href="" class="text-piped"><span>CONTACT US</span></a>
               </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="leftSidebar">
                    <ul>
                        <li><a href="">+ Living</a></li>
                        <li><a href="">+ Dining</a></li>
                        <li><a href="">+ Kitchen  </a>
                                <!-- <ul>
                                    <li><a href=""> Tables</a></li>
                                    <li><a href=""> Chairs</a></li>
                                    <li><a href=""> Stool</a></li>
                                    <li><a href=""> Lighting</a></li>
                                </ul>     -->
                        </li>
                        <li><a href="">+ Office</a></li>
                        <li><a href="">+ Bedroom</a></li>
                        <li><a href="">+ Assories</a></li>
                        <li><a href="">+ Offers</a></li>
                        <li><a href="">+ Outdoor  </a></li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                                <img class="card-img-top" src="assets/images/kitchen.jpg" alt="Card image cap">
                                <p class="card-text"><a href="#">KITCHEN</a></p>
                </div>
            </div> 
           <div class="row">
                <div class="col-md-3">
                         <div class="applicnces">
                              Kitchen
                              <img src="assets/images/kit_1.jpg" class="img-responsive img-thumbnail centerimgages">
                        </div>
                </div>
                <div class="col-md-3">
                          <div class="applicnces">
                              Applicences
                              <img src="assets/images/app_1.jpg" class="img-responsive img-thumbnail centerimgages">
                           </div>
                </div>
                <div class="col-md-3">
                          <div class="applicnces">
                              TABLES
                              <img src="assets/images/din_3.jpg" class="img-responsive img-thumbnail centerimgages">
                          </div>
                 </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                                <div class="applicnces_1">
                                    CHAIRS 
                                    <img src="assets/images/cha_4.jpg" class="img-responsive img-thumbnail centerimgages">
            
                                </div>
                       </div>
                       <div class="col-md-3">
                            <div class="applicnces_1">
                                LAPTOPS
                                <img src="assets/images/lap.jpeg" class="img-responsive img-thumbnail centerimgages">
                            </div>
                   </div>
                   <div class="col-md-3">
                        <div class="applicnces_1">
                            LIGHTING 
                            <img src="assets/images/ligt.jpg" class="img-responsive img-thumbnail centerimgages">
                        </div>
                    </div>
                </div>
        </div>
  </div>
</div>  
